Repository narrowin/networka: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix src/ tests/
        language: system
        types: [python]
        require_serial: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format src/ tests/
        language: system
        types: [python]
        require_serial: false

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        files: ^src/
        exclude: ^tests/
        types: [python]
        require_serial: false

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.7.1
  #   hooks:
  #     - id: mypy
  #       args: [--strict]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(uv\.lock|.*\.lock|tests/.*\.py)$

only run mypy checks in ci with linux os
  .github/workflows/ci.yml
Due: none

fix mypy and streamline project
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .lychee.toml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  schemas/device-config.schema.json
  schemas/groups-config.schema.json
  src/network_toolkit/cli.py
  src/network_toolkit/common/paths.py
  src/network_toolkit/tui/dialogs.py
  src/network_toolkit/tui/helpers.py
  src/network_toolkit/tui/prompt.py
  uv.lock
Due: ruff, ruff-format, mypy

dont deliver tui with releases yet
  pyproject.toml
Due: none

set no colors for output on tests important for ci runs
  tests/test_download.py
  tests/test_output.py
  tests/test_run_basic.py
Due: ruff, ruff-format

add working docker env with user networking
  .github/workflows/container.yml
  docker/.dockerignore
  docker/.env.example
  docker/Dockerfile
  docker/Dockerfile.new
  docker/Dockerfile.old
  docker/README.md
  docker/docker-compose.yml
  docker/entrypoint.sh
Due: none

update nocolors to the tests
  tests/test_download.py
  tests/test_run_basic.py
Due: ruff, ruff-format

fix some more tests for mypy
  tests/fixtures/output_testing.py
  tests/test_run_basic.py
Due: ruff, ruff-format

fix some more tests for mypy
  tests/test_cli_real_config.py
  tests/test_config_real_world.py
  tests/test_download.py
  tests/test_tui_basic_functionality.py
  tests/test_tui_data_loading.py
  tests/test_tui_parity.py
Due: ruff, ruff-format

add initial docs for Docker setup
  README.md
  docker/.dockerignore
  docker/.env.example
  docker/Dockerfile.new
  docker/Dockerfile.old
  docker/README.md
  docker/entrypoint.sh
  docs/docker.md
  mkdocs.yml
Due: none

pull the image that was created by exact tag not latest in test ci
  .github/workflows/container.yml
Due: none

streamline build process and reduce complexity
  .github/workflows/ci.yml
Due: none

make the mkdocs theme nicer for dark mode
  mkdocs.yml
Due: none

streamline docs theme
  docs/assets/images/networka.png
  docs/assets/stylesheets/extra.css
  docs/index.md
  docs/overrides/home.html
Due: none

make tests setup a config/ dir with the already existing functions and then make use of the data in there for the run
  src/network_toolkit/commands/config.py
  tests/conftest.py
  tests/test_config_init_impl.py
  tests/test_config_real_world.py
  tests/test_tui_data_loading.py
Due: ruff, ruff-format, mypy

fix more tests and cleanups
  src/network_toolkit/commands/config.py
  tests/test_cli_real_config.py
  tests/test_tui_basic_functionality.py
  tests/test_tui_parity.py
Due: ruff, ruff-format, mypy

add tasks that mimic exaclty what happens when testing with pytest in the ci pipeline
  Taskfile.yml
Due: none

update taskfile to be the place for standard tests, make the ci use these tasks too
  .github/workflows/ci.yml
  Taskfile.yml
Due: none

Add a lot of best practices for open source projects based on what best of breed projects do
  .github/CODEOWNERS
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/support.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
  CITATION.cff
  docs/overrides/home.html
  docs/overrides/partials/logo.html
  mkdocs.yml
  pyproject.toml
  scripts/release.sh
  uv.lock
Due: none

home site in dark theme fix
  docs/overrides/home.html
Due: none

make github workflow testing esiar with local act; fx test
  .actignore
  tests/test_cli_real_config.py
Due: ruff, ruff-format

make github workflow testing esiar with local act; fx test
  .github/workflows/ci.yml
Due: none

lets go with a new release
  CHANGELOG.md
  CITATION.cff
  src/network_toolkit/__about__.py
Due: ruff, ruff-format, mypy

chore: bump version to v0.1.7
  CHANGELOG.md
Due: none

start refactoring config loading phase1
  .github/copilot-instructions.md
  src/network_toolkit/commands/info.py
  src/network_toolkit/common/config_context.py
  tests/test_config_context.py
Due: ruff, ruff-format, mypy

some commands need no connections params so dont ask for them
  .ruffignore
  pyproject.toml
  src/network_toolkit/commands/info.py
  src/network_toolkit/common/decorators.py
  src/network_toolkit/common/table_providers.py
  tests/test_decorators.py
  tests/test_info_credentials.py
Due: ruff, ruff-format, mypy

start refactoring config loading phase2 done
  .ruffignore
  src/network_toolkit/commands/list.py
  src/network_toolkit/common/command_base.py
  src/network_toolkit/common/command_helpers.py
  src/network_toolkit/common/config_manager.py
Due: ruff, ruff-format, mypy

start refactoring config loading phase3 - fixint tests
  .secrets.baseline
  src/network_toolkit/commands/backup.py
  src/network_toolkit/commands/config.py
  src/network_toolkit/commands/diff.py
  src/network_toolkit/commands/download.py
  src/network_toolkit/commands/firmware.py
  src/network_toolkit/commands/info.py
  src/network_toolkit/commands/routerboard_upgrade.py
  src/network_toolkit/commands/run.py
  src/network_toolkit/commands/schema_unified.py
  src/network_toolkit/commands/ssh.py
  src/network_toolkit/commands/upload.py
  src/network_toolkit/commands/vendor_config_backup.py
  src/network_toolkit/common/command.py
  src/network_toolkit/common/command_base.py
  tests/test_download.py
Due: ruff, ruff-format, mypy

start refactoring config loading phase3 - fixint tests for more refactored commands
  tests/test_cli_transport.py
  tests/test_decorators.py
  tests/test_download.py
  tests/test_info_extended.py
  tests/test_routerboard_upgrade.py
  tests/test_unsupported_operations.py
  tests/test_vendor_config_backup.py
Due: ruff, ruff-format

start refactoring config loading phase3 - fixint tests for more refactored commands
  src/network_toolkit/cli.py
Due: ruff, ruff-format, mypy

Update documentation: rename 'Quickstart' to 'Installation' and enhance installation instructions
  docs/getting-started.md
  docs/index.md
  docs/overrides/home.html
  mkdocs.yml
Due: none

refactor(config): change default transport to 'system'
  config/config.yml
  config/examples/multi-site-example.md
  pyproject.toml
  src/network_toolkit/commands/config.py
  src/network_toolkit/config.py
  src/network_toolkit/device.py
  src/network_toolkit/transport/factory.py
  tests/cli/test_command_config.py
  tests/cli/test_help_integration.py
  tests/cli/test_metadata.py
  tests/conftest.py
  tests/test_config.py
  tests/test_table_providers.py
Due: ruff, ruff-format, mypy

refactor: update help panel descriptions for clarity and consistency
  src/network_toolkit/cli.py
  src/network_toolkit/commands/backup.py
  src/network_toolkit/commands/config.py
  src/network_toolkit/commands/diff.py
  src/network_toolkit/commands/download.py
  src/network_toolkit/commands/firmware.py
  src/network_toolkit/commands/routerboard_upgrade.py
  src/network_toolkit/commands/run.py
  src/network_toolkit/commands/schema_unified.py
  src/network_toolkit/commands/ssh.py
  src/network_toolkit/commands/upload.py
  src/network_toolkit/commands/vendor_config_backup.py
Due: ruff, ruff-format, mypy

chore: bump version to v0.1.8
  CHANGELOG.md
  CITATION.cff
  src/network_toolkit/__about__.py
Due: ruff, ruff-format, mypy

chore: bump version to v0.1.8
  CHANGELOG.md
Due: none

refactor(config): update load_config for modular structure
  src/network_toolkit/commands/info.py
  src/network_toolkit/config.py
Due: ruff, ruff-format, mypy

chore: bump version to v0.1.9
  CHANGELOG.md
  CITATION.cff
  src/network_toolkit/__about__.py
Due: ruff, ruff-format, mypy

feat(schema): implement schema management commands
  schemas/device-config.schema.json
  schemas/groups-config.schema.json
  schemas/network-config.schema.json
  src/network_toolkit/cli.py
  src/network_toolkit/commands/schema.py
  src/network_toolkit/commands/schema_unified.py
Due: ruff, ruff-format, mypy

feat(vendor_config_backup): implement vendor-specific config backup command
  .github/copilot-instructions.md
  src/network_toolkit/commands/backup.py
  src/network_toolkit/commands/vendor_config_backup.py
Due: ruff, ruff-format, mypy

WIP: introstpection info comman ds
  src/network_toolkit/commands/info.py
  src/network_toolkit/common/table_generator.py
  src/network_toolkit/common/table_providers.py
  src/network_toolkit/config.py
Due: ruff, ruff-format, mypy

refactor(config): improve config path resolution logic
  src/network_toolkit/common/table_providers.py
  src/network_toolkit/config.py
Due: ruff, ruff-format, mypy
